.ex-5 {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#0a076d 2px, transparent 2px);
  background-size: 60px 60px;
  background-color: #7774d5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.listas {
  display: grid;
  grid-template-rows: repeat(auto-fit);
  width: 15%;
}
li {
  text-decoration: none;
  list-style: none;
}
.lis {
  padding: 0.9rem;
  justify-content: center;
  display: flex;
  font-size: 2rem;
  text-transform: capitalize;
  border: 0.3rem dashed wheat;
  margin: 0.9rem;
  color: azure;
  background-color: black;
}

