html {
  font-size: 62.5%;
}
.ex3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(
      135deg,
      #c3a7e2 16.66%,
      transparent 0 83.33%,
      #c3a7e2 0
    ),
    conic-gradient(
      from 45deg at 66.66% 33.33%,
      #4a4944 135deg,
      rgba(74, 73, 68, 0.75) 0% 225deg,
      rgba(74, 73, 68, 0.5) 0%
    );
  background-size: 90px 90px;
  background-color: #c3a7e2;
}
.botonyepa {
  padding: 0.9rem;
  margin: 0.5rem;
  border-radius: 1rem;
  border: black solid 0.3rem;
  font-size: 2.5rem;
}
.botonyepa:hover{
  background-color: #62536b;
  color: white;
}